/* Header */

/* Logo */
.logo-header {
  background: #193441;
}

/* Nav */
.menu-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3E606F;
}

.list_header {
  float: left;
  padding: 5px;
}

.list_header .a_header {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.list_header .a_header:hover {
  background-color: grey;
}

#active {
  background-color: grey;
}

/* Positionnement chambres */
.chambres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}
.chambre {
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid #3E606F; 
}
.photo-chambre {
  width: auto;
}

/* Footer */
footer {
  background-color: #3E606F;
  display: flex;
  justify-content: center;
}

.first {
  float: inline-end;
  justify-content: space-between;
}
.newsletter {
  float: inline-start;
  justify-content: space-between;
}
.contain {
  float: inline-end;
  justify-content: space-between;
}




