body {
    font-family: 'Open Sans, Merriweather';
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    width: auto;
    background-color: #193441

}
/* Titres */
h1 , h2 , h3 {
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: bold;
    color: #fff
}

/* Boutons */
button:hover{
    color: whitesmoke;
    background-color: #3E606F;

}
a {
    color: #fff
}
a:hover {
    color: grey;
}